# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode / Swift
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip

# Swift Package Manager
.build/
Package.resolved

# misc
*.swp
